<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twitpin</title>
</head>

<body>



    {{{ body}}}

    <br>
    <p align="center">© 2020 Reservados todos los derechos. : TWITPIN.GT</p>

</body>

</html>