<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=1,initial-scale=1,user-scalable=1" />
	<title>TWITPIN</title>
	<!-- Custom CSS -->
		<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css">
	<!-- Custom CSS -->
	<link rel="stylesheet" type="text/css" href="/css/style_login.css" />
	<!-- Google Font -->
	<link href="http://fonts.googleapis.com/css?family=Lato:100italic,100,300italic,300,400italic,400,700italic,700,900italic,900" rel="stylesheet" type="text/css">
    
	<!-- jQuery Library -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.0/jquery.min.js"></script>
    <!-- Bootstrap Core JS -->
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

</head>
<body>
	
	<section class="container">
	    <section class="login-form">
		<form method="post" action="/login" role="login">
			<div class="panel panel-default">
				<div class="panel-body">
					<h3>Twitpin</h3>
					<input type="text" name="usuario" required placeholder="Usuario" class="form-control" />
					<input type="password" name="password" required placeholder="Password" class="form-control" />
					<!--input type="checkbox" name="remember" value="1" checked /> Remember me -->
					<button type="submit" name="go" class="btn btn-block btn-info">Login</button>
				</div>
				<div class="panel-footer">
					
					¿Nuevo en Twitpin? <a href="/signup"> Registrate ahora &raquo;</a><br />
					
				</div>
			</div>
		</form>
		</section>
	</section>
	
</body>
</html>